*~
*.o
*.la
*.lo
*.log
.deps/
.libs/
libbds/
Makefile
bds_modulus.h
config.h
config.log
config.status
list/.deps/
list/.libs/
list/Makefile
queue/.deps/
queue/.libs/
queue/Makefile
stack/.deps/
stack/.libs/
stack/Makefile
stamp-h1
string/.deps/
string/.libs/
string/Makefile
libtool
