*~
*.o
*.la
*.lo
*.log
.deps/
.libs/
libbds/
Makefile
bds_modulus.h
config.h
config.log
config.status
list/.deps/
list/.libs/
list/Makefile
queue/.deps/
queue/.libs/
queue/Makefile
stack/.deps/
stack/.libs/
stack/Makefile
stamp-h1
string/.deps/
string/.libs/
string/Makefile
libtool
Makefile.in
aclocal.m4
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
autom4te.cache
compile
test-driver
